
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    input{
    display: block;
    width:500px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 8px;
    height:15px;

}
.button1{
    margin-left: 180px;
}
p{
    text-align:center;
    
}